body {
    background-color: rgb(158, 158, 158);
  }
  
  h1 {
    color: red;
    margin-left: 10px;
    outline-color: black;
    outline-style: solid;
    outline-width: 6px;
    outline-offset: 3px;
    text-align: center;

  }

  button{
    background-color:red;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;   
    font-size: 16px;
    border-color: black;
  }
