body {
    background-color: lightblue;
  }
  
  h1 {
    color: navy;
    margin-left: 10px;
  }

  

  .menulinks {
    display: inline;
  }




  .ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  .menulinks {
    float: left;
  }
  
  .menulinks a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  .menulinks a:hover {
    background-color: #111;
  }